<html>
	<head>
		<title>Flickr API Demonstration</title>
	</head>
	<body>
		<h1>Flickr API Demonstration</h1>
		<h2>By Donal Lynch | Software Engineer</h2>
        <p>
            <span class="info">Click on the buttons below to load images from the Flickr API</span>
        </p>
		<br>
		<form>
            <button type="button" id="cat">Cats</button>
            <button type="button" id="dog">Dogs</button>
            <button type="button" id="giraffe">Giraffes</button>
        </form>
        <div id="animals"></div>
	</body>
	<script type="text/javascript" src="web/assets/js/index.js"></script>
</html>